@media screen and (min-width: map-get($breakpoints, "sm")) {
  .articles-by {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: map-get($breakpoints, "md")) {
  .articles-by {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: map-get($breakpoints, "lg")) {
  .articles-by {
    &__items {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      &-image {
        min-height: fluid-unit(300px);
        max-height: fluid-unit(300px);
      }
    }
  }
}
