$assets: "/assets";
$font-family-base: 'Roboto Serif', sans-serif;;
$font-family-header: 'Titillium Web', sans-serif;
$max-width: 1440px !default;
$gutter: 24px !default;
$padding: 16px !default;
$margin: 60px !default;


$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$colors: (
  "black": #000000,
  "pink": #EF8DC6,
  "violet": #783df6,
  "rose": #F9DDE7,
  "silver": #F5F5F5,
  "white": #FFFFFF
) !default;
