.articles-by {
  &__title {
    position: relative;
    padding-left: fluid-unit(16px);

    &:before {
      content: "";
      position: absolute;
      width: fluid-unit(6px);
      height: 100%;
      left: 0;
      top: 0;
      background-color: color("pink");
    }
  }

  &__items {
    display: grid;
    grid-gap: fluid-unit(16px);
    grid-template-columns: 1fr;
  }

  &__link {
    &:hover,
    &:active,
    &:focus {
      .articles-by__item-title,
      .articles-by__item-summary {
        color: color("violet");
        @include make-transition();
      }
    }
  }

  &__item {
    border-radius: fluid-unit(10px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &-type {
      position: absolute;
      top: fluid-unit(16px);
      right: fluid-unit(16px);
      background-color: color("rose");
      border-radius: fluid-unit(10px);
      padding: fluid-unit(6px) fluid-unit(10px);
      font-family: $font-family-header;
      font-size: .85em;
      line-height: 1;
    }

    &-tags {
      @include make-reset-list();
      display: flex;
      flex-wrap: wrap;
      gap: fluid-unit(6px);
      margin-bottom: fluid-unit(16px);
      align-items: center;
    }

    &-tag {
      background-color: rgba(color("black"), .1);
      border-radius: fluid-unit(10px);
      padding: fluid-unit(6px) fluid-unit(10px);
      font-family: $font-family-header;
      font-size: .85em;
      line-height: 1;
    }

    &-content {
      border-bottom-left-radius: fluid-unit(10px);
      border-bottom-right-radius: fluid-unit(10px);
      border: 1px solid rgba(color("black"), .2);
      border-top: 0;
      padding: fluid-unit(16px);
      flex: 1 1;
    }

    &-image {
      overflow: hidden;
      position: relative;
      background-color: rgba(color("black"), .2);
      min-height: fluid-unit(200px);
      max-height: fluid-unit(200px);
      flex: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        text-align: center;
      }
    }

    &-title {
      @include make-h4();
    }

    &--read-more {
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: rgba(color("black"), .2);
      height: 100%;
      grid-template-rows: 1fr;

      .articles-by__item-content {
        border-radius: 0;
        border: 0;
        text-align: center;
      }

      .articles-by__item-title {
        margin: 0;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: rgba(color("black"), .1);
        @include make-transition();
      }
    }
  }
}
