<section class="articles-by section" *ngIf="source">
  <h1 class="section__title">
    <a [routerLink]="[link, source.id]" [title]="'View all from ' + source.name" [innerText]="source.name"></a>
  </h1>

  <p class="section__message" *ngIf="articles.length===0 && !isBusy">No data to display.</p>
  <p class="section__message" *ngIf="isBusy">Loading...</p>

  <div class="articles-by__items articles">
    <ng-container *ngFor="let article of articles">
      <app-article [article]="article" css="articles-by__item"></app-article>
    </ng-container>

    <a class="article__link" [routerLink]="[link, source.id]">
      <article class="article article--read-more">
        <div class="article__content">
          <h2 class="article__title" [innerText]="'View all from ' + source.name"></h2>
        </div>
      </article>
    </a>
  </div>
</section>
